:root {
    --colour-background-light: #F2F2F2;
    --colour-background-dark: #383838;
    --colour-primary: #84E8FA;
    --colour-secondary: #6DE3DB;
    --colour-tertiary: #7AFFD8;
    --colour-quaternary: #74FFBA;
    --colour-text-light: #EEEEEE;
    --colour-text-dark: #383838;
    --font-title: 'Merriweather';
    --font-content: 'Roboto';
    --font-links: 'Lato';
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}