/* Set up basic styling for the page */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'All', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #f7f7f7;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px;
}

/* Style the "About me" section */
.about {
  margin-bottom: 40px;
}

.about .title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.about .text {
  font-size: 18px;
  margin-bottom: 10px;
  line-height: 1.5;
}

.about h3.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Style the "Projects" section */
.projects {
  margin-bottom: 40px;
}

.projects .title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.projects ul {
  list-style: none;
}

.projects li {
  margin-bottom: 20px;
  border-left: 4px solid #333;
  padding-left: 20px;
}

.projects h3.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.projects .list {
  font-weight: bold;
  margin-bottom: 10px;
}

.projects .text {
  font-size: 18px;
  margin-bottom: 10px;
  line-height: 1.5;
}

.projects a {
  color: #333;
}

/* Style the "Profile" section */
.profile {
  margin-bottom: 40px;
  text-align: center;
}

.profile .title {
  font-size: 36px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}

.profile .text {
  font-size: 18px;
  margin-bottom: 10px;
  line-height: 1.5;
}

.profile .pfp {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 20px;
}

.profile a {
  color: #333;
}

/* Style the "Socials" section */
.socials {
  margin-bottom: 40px;
}

.socials .title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.socials .icons {
  font-size: 36px;
  margin-bottom: 10px;
}

.socials .text {
  font-size: 18px;
  margin-bottom: 10px;
  line-height: 1.5;
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined', sans-serif;
  font-size: 36px;
  margin-right: 10px;
}

i {
  vertical-align: middle;
}


/* Style the "Languages" and "Programming languages and frameworks" sections */
.communication-languages,
.programming-languages {
  margin-bottom: 40px;
}

.communication-languages .title,
.programming-languages .title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.communication-languages .text,
.programming-languages .text {
  font-size: 18px;
  margin-bottom: 10px;
  line-height: 1.5;
}

.communication-languages h4.text,
.programming-languages h4.text {
  font-weight: bold;
  margin-bottom: 10px;
}

.programming-languages {
  font-family: Arial, sans-serif;
}

.text {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.material-icons {
  margin-right: 10px;
}

.bar {
  height: 5px;
  background-color: #4caf50;
  border-radius: 3px;
  flex-grow: 1;
}

.bar-container {
  display: flex;
  width: 100%;
  background-color: #ddd;
  border-radius: 3px;
}