@import 'base.css';

/* Navbar styling */
.navbar {
    background-color: var(--colour-background-dark);
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
}

.navbar .links {
    display: flex;
    justify-content: center;  
    align-items: center;
}

.navbar a {
    display: block;
    color: var(--colour-text);
    text-align: center;
    padding: 1vh 1vw;
    text-decoration: none;
    font-size: 1.5rem;
    transition: background-color 1s ease-out 100ms
}

.navbar .home:hover {
    background-color: var(--colour-primary);
    color: var(--colour-background-dark);
}

.navbar .about:hover {
    background-color: var(--colour-secondary);
    color: var(--colour-background-dark);
}

.navbar .contact:hover {
    background-color: var(--colour-tertiary);
    color: var(--colour-background-dark);
}

.navbar .projects:hover {
    background-color: var(--colour-quaternary); 
    color: var(--colour-background-dark);
}

